
<div style="text-align:center">
  <div class="text-light p-3">
    <font size="15">R y a n <code>&</code> B e n <code>'</code>s</font>
    <p><font size="10"><code>Retro Arcade Diner</code></font></p>
    <p><i>Welcome to your new dining experiance, built from the gound up to pac-man your appitite!</i></p>
    <br />
    <br />

    <p>We've served up the best options for the whole family:</p>
    <p><strong>1 Chicken</strong>. Chicken, chicken chicken chicken <em>Chicken</em> chicken <em>Chicken</em> Chicken chicken chicken.</p>
    <p>
      <strong>2 Chicken chicken</strong>. Chicken chicken chicken chicken chicken chicken chicken chicken <br />
      <code>chicken</code>. Chicken chicken chicken chicken chicken. Chicken-chicken chicken chicken <br />
      chicken chicken chicken chicken, chicken chicken chicken chicken, chicken.
    </p>
    <p>
      <strong>3 Chicken</strong>. chicken chicken, chicken chicken chicken chicken chicken chicken <br />
      (chicken, chicken-chicken chicken chicken chicken-chicken chicken chicken-chicken chicken).
    </p>
    <p>
      Chicken <code>Chicken</code> Chicken chicken chicken chicken chicken chicken chicken chicken chicken chicken <br />
      chicken chicken chicken, chicken chicken chicken, chicken, chicken chicken chicken chicken <br />
    </p>
    <h2><i><a href="https://localhost:44488/reservations"> <code>RESERVATIONS</code> </a></i></h2>

    <p>
      <strong>1 Chicken</strong>. Chicken, chicken chicken chicken <em><code>chicken</code></em> chicken <em>Chicken</em> Chicken chicken chicken.
    </p>
    <p>
      <strong>2 Chicken chicken</strong>. Chicken chicken chicken chicken chicken chicken chicken chicken <br />
      <code>chicken</code>. Chicken chicken chicken chicken chicken. Chicken-chicken chicken chicken <br />
      chicken chicken chicken chicken, chicken chicken chicken chicken, chicken.
    </p>
    <p>
      <strong>3 Chicken</strong>. chicken chicken, chicken chicken chicken chicken chicken chicken <br />
      (chicken, chicken-chicken chicken chicken chicken-chicken chicken chicken-chicken chicken).
    </p>

    <h2><i><a href="https://localhost:44488/fetch-data"> <code>MENU</code> </a></i></h2>

    <p>
      Chicken chicken chicken chicken, chicken chicken chicken chicken chicken chickens chicken <code>chicken</code> chickens. Chicken chicken <br />
      chicken 1. Chicken chicken <code>chicken</code> chicken chickens chicken; chicken chicken chicken. Chicken chicken chicken chicken, chicken <code>chickens</code> <br />
      chicken chicken chicken <br />
    </p>
    <p>
      Chicken chicken chicken chicken, chicken chicken chicken chicken chicken chickens chicken chicken chickens. Chicken chicken <br />
      chicken 1. Chicken chicken chicken chickens chicken; chicken chicken chicken. Chicken chicken chicken chicken, chicken chickens <br />
      chicken chicken chicken chicken chicken chicken chicken chicken chicken <code>chicken</code><br />
    </p>
  </div>
<div class="text-light">
  <p>
    <font size="1">
      Chicken <code>Chicken</code> Chicken chicken chicken chicken chicken chicken chicken chicken chicken chicken <br />
      chicken chicken chicken, chicken chicken chicken, chicken, chicken chicken chicken chicken <br />
    </font>
  </p>
</div>>
</div>

